
:root {
    --primary-color: #0a0a0a;
    --secondary-color: #b00000;
    --button-text-color:#ffffff;
    --box-shadow-btn-color:#00000019;
    --before-btn-primary-color:#E5091466;
    --before-btn-secondary-color:#96000066;
    --before-btn-background:#FFFFFF4C;
    --after-btn-primary-color:#FFFFFF4C;
    --after-btn-secondary-color:#FFFFFF00;
    --focus-btn-primary-color:#FB6E987F;
    --focus-btn-secondary-color:#00000019;
    --focus-btn-box-shadow-color:#00000019;
    --hover-btn-primary-color:#ff1e28;
    --hover-btn-secondary-color:#540000;
    --hover-box-shadow-btn-color:#00000033;
    --active-box-shadow-btn-color:#00000026;
    --glass-btn-background-color:#FFFFFF33;
    --glass-btn-border-color:#FFFFFF66;
    --hover-glass-btn-background-color:#FFFFFF4C;
    --hover-glass-btn-box-shadow-color:#FFFFFF33;
    --chart-primary-color:#e41c1c;
    --chart-secondary-color:#BCBABA4C;
    --title-primary-color:#e50914;
    --title-secondary-color:#ff1e28;
    --title-text-shadow-color:#E5091466;
    --title-large-text-shadow-color:#FF1E28B2;
    --title-pulse-text-shadow-primary-color:#FF1E28B2;
    --title-pulse-text-shadow-secondary-color:#FF1E2866;
    --text-shadow-color:#00000019;
    --tooltip-background-color:#FFFFFFE6;
    --tooltip-background:#FFFFFF;
    --tooltip-border-color:#FFFFFFE6;
    --tooltip-box-shadow-color:#00000033;
    --tooltip-filter-color:#00000019;
    --container-background-color:#0e0e0e;
    --navbar-background-color:#171717;
    --form-background-color:#0E0E0E;
    --label-color:#ffffff;
    --input-background:#1a1a1a;
    --border-input-color:#333;
    --input-hover-color:#555;
    --input-focus-color:#e50914;
    --box-shadow-input-color:#E50914B2;
    --input-focus-background-color:#222;
    --input-placeholder-color:#FFFFFF99;
    --chart-background-color:#433E3E4C;
}
