
:root {
    --primary-color: #232f3e;
    --secondary-color: #ff9900;
    --button-text-color: #ffffff;
    --box-shadow-btn-color: #0000001a;
    --before-btn-primary-color: #ff9900b3;
    --before-btn-secondary-color: #005f73b3;
    --before-btn-background: #ffffff1a;
    --after-btn-primary-color: #ffffff26;
    --after-btn-secondary-color: #ffffff00;
    --focus-btn-primary-color: #ffac33;
    --focus-btn-secondary-color: #0000001a;
    --focus-btn-box-shadow-color: #0000001a;
    --hover-btn-primary-color: #ff9900;
    --hover-btn-secondary-color: #005f73;
    --hover-box-shadow-btn-color: #00000033;
    --active-box-shadow-btn-color: #00000026;
    --glass-btn-background-color: #ffffff26;
    --glass-btn-border-color: #ffffff4d;
    --hover-glass-btn-background-color: #ffffff40;
    --hover-glass-btn-box-shadow-color: #ffffff26;
    --chart-primary-color: #ff9900;
    --chart-secondary-color: #4a5568;
    --title-primary-color: #ff9900;
    --title-secondary-color: #0073bb;
    --title-text-shadow-color: #ff990066;
    --title-large-text-shadow-color: #ff9900b2;
    --title-pulse-text-shadow-primary-color: #ff9900b2;
    --title-pulse-text-shadow-secondary-color: #ff990066;
    --text-shadow-color: #00000019;
    --tooltip-background-color: #3b4754;
    --tooltip-background: #232f3e;
    --tooltip-border-color: #ff9900;
    --tooltip-box-shadow-color: #00000033;
    --tooltip-filter-color: #00000019;
    --container-background-color: #1e252f;
    --navbar-background-color: #232f3e;
    --form-background-color: #2a3b4f;
    --label-color: #ffffff;
    --input-background: #35475a;
    --border-input-color: #4c5c6c;
    --input-hover-color: #62798a;
    --input-focus-color: #ff9900;
    --box-shadow-input-color: #ff9900b2;
    --input-focus-background-color: #3b4754;
    --input-placeholder-color: #ffffff99;
    --chart-background-color: #5e6c7b4d;
}
