@import '../../../../../__variables.css';

.tableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  width: auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  background-color: white;
  height: 100%;
}

.table th,
.table td {
  border: 1px solid var(--border-input-color);
  padding: 8px;
  text-align: center;
}

.table th {
  background-color: var(--input-hover-color);
  color: var(--label-color);
}



.criticalRow {
  background-color: var(--chart-primary-color) !important;
  font-weight: bold;
}
