@import '../../../../../__variables.css';

.main-heading {
  font-size: var(--font-size, 25px);
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  color: var(--gradient, #ffffff);
  background: var(--gradient, none);
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--fill-color, inherit);
  letter-spacing: var(--letter-spacing, 2px);
  text-shadow: var(--text-shadow, 4px 4px 15px var(--title-text-shadow-color));
  transition: all 0.4s ease-in-out;
  padding: 5px;
  margin-bottom: var(--margin-bottom);
}

.main-heading.gradient {
  --gradient: linear-gradient(135deg, var(--title-primary-color), var(--title-secondary-color));
  --fill-color: transparent;
}

.main-heading.small {
  --font-size: 18px;
  --letter-spacing: 1px;
  --margin-bottom: 10px;
}

.main-heading.large {
  --font-size: 48px;
  --letter-spacing: 3px;
  --text-shadow: 6px 6px 20px var(--title-text-shadow-color);
}


.main-heading.large {
  font-size: 48px;
  letter-spacing: 3px;
  text-shadow: 6px 6px 20px var(--title-large-text-shadow-color);
}

.main-heading:hover {
  letter-spacing: 3px;
}

@keyframes glowPulse {
  0% {
    text-shadow: 4px 4px 15px var(--title-pulse-text-shadow-primary-color);
  }
  50% {
    text-shadow: 6px 6px 20px var(--title-pulse-text-shadow-secondary-color);
  }
  100% {
    text-shadow: 4px 4px 15px var(--title-pulse-text-shadow-primary-color);
  }
}

@media (max-width: 768px) {
  .main-heading.large {
    font-size: 36px;
  }
}

@media (max-width: 480px) {
  .main-heading.large {
    font-size: 28px;
  }
}
